@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');



/* Start Button Ripple Effect */

/* .btn1:is(:hover, :focus-visible)::before { transform: translate(-50%, -50%) scale(1); } */
/*  define the length of page when scrolling width will increase and decrease */
.scrolling {
    width: 0;
    height: 5px;
    background-color: var(--salmon-pink);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 555;
}


/*  ______________________

***   Custom property
    ______________________
*/
:root {

    /**
    * colors
    **/

    --spanish-gray: hsl(0, 0%, 60%);
    --sonic-silver: hsl(0, 0%, 47%);
    --eerie-black: hsl(0, 0%, 13%);
    --salmon-pink: hsl(353, 100%, 78%);
    --sandy-brown: hsl(29, 90%, 65%);
    --bittersweet: hsl(0, 100%, 70%);
    --ocean-green: hsl(152, 51%, 52%);
    --davys-gray: hsl(0, 0%, 33%);
    --cultured: hsl(0, 0%, 93%);
    --white: hsl(0, 100%, 100%);
    --onyx: hsl(0, 0%, 27%);
  
    /**
        typography
     **/

    --fs-1: 1.563rem;
    --fs-2: 1.375rem;
    --fs-3: 1.25rem;
    --fs-4: 1.125rem;
    --fs-5: 1rem;
    --fs-6: 0.938rem;
    --fs-7: 0.875rem;
    --fs-8: 0.813rem;
    --fs-9: 0.75rem;
    --fs-10: 0.688rem;
    --fs-11: 0.625rem;

    --weight-300: 300;
    --weight-400: 400;
    --weight-500: 500;
    --weight-600: 600;
    --weight-700: 700;

    /**
      * border-radius
     **/

    --border-radius-md: 10px;
    --border-radius-sm: 5px;

    /**
      * transition
     */
     
    --transition-timing: 0.2s ease;
}

/*  ______________________
    
    REST
    _____________________
*/

*, *::after, *::before {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 85%;
    margin: auto;
}

a {
    text-decoration: none;
    color: unset;
}

li {list-style: none}

button {
    color: white;
    font-family: inherit;
    font-size: var(--fs-11);
    font-weight: var(--weight-600);
    background-color: var(--salmon-pink);
    padding: 7px 20px;
    margin-top: 12px;
    border-radius: var(--border-radius-sm);
    text-transform: uppercase;
    transition: var(--transition-timing);
    transition: all .3s ease-in-out;
    border: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

button span {
    display: inline-block;
    position: relative;
    z-index: 444;
}

button::after {
    content: '';
    width: 0px;
    height: 0px;
    background-color: var(--eerie-black);
    position: absolute;
    left: var(--x);
    top: var(--y);
    transform: translate(-50%, -50%);
    transition: all .3s ease-in-out;
    border-radius: 50%;
}

button:hover::after {
    width: 300%;
    height: 300%;
}

/* button:is(:hover, :focus-visible)::after { transform: translate(-50%, -50%) scale(1); } */

img {
    width: 100%;
    display: block;
}

.close {cursor: pointer;}

html {
    font-family:"Poppins", sans-serif;
    overscroll-behavior: contain;
    overflow-x: hidden;
}



.scroll_X::-webkit-scrollbar {height: 6px;}

.scroll_X::-webkit-scrollbar-thumb {
    /* background-color: rgba(0,0,0, 0); */
    background-color: var(--cultured);
    border-radius: var(--border-radius-sm);
}

/* used if you want scroll appear when hover on section */
/* .scroll_X:hover::-webkit-scrollbar-thumb {
    background-color: var(--cultured);
} */

/**
   Scrollbar style 
*/

body::-webkit-scrollbar {
    width: 8px;
    border-left: 1px solid var(--cultured);
}

body::-webkit-scrollbar-thumb {
    padding-left: 10px;
    background-color: hsl(0, 0%, 80%);
    border-radius: var(--border-radius-sm);
}

/* =============================================================================================== */

/* ________________________

    Start Model NewsLetter
   ________________________
*/

.news_letter {
    width: 100vw;
    height: 100vh;
    display: flex; /* to appear convert disply to flex*/
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 12;
    opacity: 0;
    padding: 0 10px;
    animation: showModel .5s ease-in-out 3.5s reverse forwards;
    visibility: hidden;
}

.hideModelNewsLetter {
    animation: hideModel .5s ease-in-out reverse forwards !important;
}

@keyframes hideModel {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: scale(0) translate(-100%, -100%);
    } 100% {
        opacity: 1;
        transform: scale(1);
        visibility: visible;
    }
}
@keyframes showModel {
    0% {
        visibility: visible;
        opacity: 1;
        transform: scale(1);
    } 100% {
        visibility: hidden;
        opacity: 0;
        transform: scale(3);
    }
}

#newsLetter .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    background-color: rgba(0,0,0, 0.5);
}

#newsLetter .content_newsLetter {
    position: relative;
    z-index: 111;
    max-width: 350px;
    width: fit-content;
    background-color: var(--white);
    border-radius: var(--border-radius-md);
    display: flex;
    text-align: center;

}

#newsLetter .content_newsLetter .close {
    position: absolute;
    right: 18px;
    top: 18px;
    background-color: var(--salmon-pink);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-size: var(--fs-3);
    font-weight: var(--weight-600);
    border-radius: var(--border-radius-sm);
    transition: var(--transition-timing);
}

#newsLetter .content_newsLetter .close:hover {opacity: 0.8;}

#newsLetter .content_newsLetter .newsImg {
    max-width: 55%;
    width: fit-content;
    display: none;
}

#newsLetter .content_newsLetter .newsImg img {
    border-radius: var(--border-radius-md);
}

#newsLetter .content_newsLetter .newsText {
    padding: 50px 30px;
}

#newsLetter .content_newsLetter .newsText h3 {
    color: var(--onyx);
    font-size: var(--fs-2);
    font-weight: var(--weight-600);
    margin-bottom: 15px;
}

#newsLetter .content_newsLetter .newsText p {
    color: var(--sonic-silver);
    font-size: var(--fs-7);
    line-height: 1.6;
    padding: 0 10px 0 0;
}

#newsLetter .content_newsLetter .newsText input {
    font-size: var(--fs-7);
    width: 100%;
    padding: 12px 16px;
    margin: 20px 0;
    border: 1px solid var(--cultured);
    border-radius: var(--border-radius-sm);


}

#newsLetter .content_newsLetter .newsText input::placeholder {
    font-size: var(--fs-7);
    font-family: inherit;
    text-transform: capitalize;
}

#newsLetter .content_newsLetter .newsText button {
    background-color: var(--eerie-black);
    color: var(--white);
    font-size: var(--fs-7);
    font-weight: var(--weight-600);
    text-transform: uppercase;
    padding: 10px 15px;
    border-radius: var(--border-radius-sm);
    transition: var(--transition-timing);
    display: block;
    margin: auto;
}

#newsLetter .content_newsLetter .newsText button::after {
    background-color: var(--salmon-pink);
}

/*  ______________________
    
    End Model News Letter
    ______________________
*/

/* =============================================================================================== */

/*  ______________________
    
    Start Notification
    ______________________
*/

#notification {
    background-color: var(--white);
    position: fixed;
    left: 20px;
    bottom: 80px;
    max-width: 300px;
    width: -webkit-fill-available;
    box-shadow: 0 5px 20px hsl(0deg 0% 0% / 15%);
    border-radius: var(--border-radius-md);
    padding: 15px;
    animation: slide 10s ease-in-out infinite;
    z-index: 1;
}

@keyframes slide {
    0% {
        transform: translate(-350px);
    }
    20% {
        transform: translate(-350px);
    }
    40% {
        transform: translate(0px);
    }
    89% {
        transform: translate(0px);
    }
    100% {
        transform: translate(-350px);
    }
      
}

/* @keyframes slideInOut {

    0%,
    45%,
    100% {
      -webkit-transform: translateX(-webkit-calc(-100% - 40px));
              transform: translateX(calc(-100% - 40px));
      opacity: 0;
      visibility: hidden;
    }
  
    50%,
    95% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
      visibility: visible;
    }
  
  } */

#notification .close {
    position: absolute;
    right: 10px;
    top: 8px;
    color: var(--onyx);
    font-weight: var(--weight-700);
}

#notification .content_noti {
    display: flex;
    column-gap: 15px;
}

#notification .content_noti .img_noti {
    width: 70px;
    height: 70px;
    border: 1px solid var(--cultured);
    border-radius: var(--border-radius-sm);
    display: flex;
    justify-content: center;
    align-items: center;
}

#notification .content_noti .img_noti img {
    object-fit: contain;
    object-position: center;
}


#notification .content_noti .details_noti {
    display: flex;
    flex-direction: column;
    line-height: 1.6;
}

#notification .content_noti .details_noti p {
    font-size: var(--fs-10);
    color: var(--sonic-silver);
}

#notification .content_noti .details_noti h4 {
    font-size: var(--fs-7);
    color: var(--onyx);
    font-weight: var(--weight-500);
    margin-top: 6px;
}

/*  ______________________
    
    End Notification
    ______________________
*/
/* =============================================================================================== */
/*  ______________________
    
    Start Header
    ______________________
*/

/* :::::::::::::::::::::Header Top::::::::::::::::::::::::::::::: */

#header,
#header .header_top {
    border-bottom: 1px solid var(--cultured);
}

#header .header_top .content_header_top {
    padding: 15px 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    color: var(--sonic-silver);
}

#header .header_top .content_header_top .icon_social {
    display: none;
}

#header .header_top .content_header_top .icon_social ion-icon {
    font-size: var(--fs-3);
    /* color: var(--sonic-silver); */
    background-color: var(--cultured);
    margin: 0 3px;
    padding: 2.5px;
    border-radius: var(--border-radius-sm);
    cursor: pointer;
    transition: var(--transition-timing);
}

#header .header_top .content_header_top .icon_social ion-icon:hover {
    color: var(--white);
    background-color: var(--salmon-pink);
}


#header .header_top .content_header_top .alert_news p {
    font-size: var(--fs-9);
    letter-spacing: .7px;
    /* color: var(--sonic-silver) */
}

#header .header_top .content_header_top .alert_news p b {font-weight: 600;}

#header .header_top .content_header_top .header_action {display: none;}

#header .header_top .content_header_top .header_action select {
    display: inline-block;
    padding: 2px 4px;
    border: none;
    outline: none;
    margin: 0 4px;
    cursor: pointer;
}

#header .header_top .content_header_top .header_action select ul li {
    display: inline-block;
    font-size: 18px;
    color:hsl(0, 100%, 70%);
}

/* =============================================================================================== */

/* :::::::::::::::: Header Main :::::::::::::::::::: */
#header {padding: 0 25px}

#header .header_main .content_header_main {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

#header .header_main .content_header_main .logo
{width: 120px;}

#header .header_main .content_header_main .logo img
{transition: var(--transition-timing);}

#header .header_main .content_header_main .logo:hover img
{transform: scale(1.1)}

#header .header_main .content_header_main .inp_search {
    color: var(--onyx);
    font-size: var(--fs-5);
    border: 1px solid var(--cultured);
    border-radius: var(--border-radius-md);
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

#header .header_main .content_header_main .inp_search input {
    width: 100%;
    font-size: var(--fs-5);
    padding: 2px 0;
    display: block;
    border: none;
    outline: none;
    margin-right:10px;
    letter-spacing: .5px;
}

#header .header_main .content_header_main .inp_search i {
    font-size: 18px;
    color: var(--onyx);
    cursor: pointer;
    transition: var(--transition-timing);
}

#header .header_main .content_header_main .inp_search i:hover
{color: var(--bittersweet)}

#header .header_main .content_header_main .header_user_action
{display: none;}

#header .header_main .content_header_main .header_user_action div {
    position: relative;
}


#header .header_main .content_header_main .header_user_action div span {
    color: var(--bittersweet);
    font-size: 15.5px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -15px; 
    right: -3px;
}

#header .header_main .content_header_main .header_user_action i {
    font-size: 30px;
    padding: 0 10px;
    transition: var(--transition-timing);
    cursor: pointer;
}

#header .header_main .content_header_main .header_user_action i:hover {
    color: var(--bittersweet);

}


/*  ______________________

    End Header
    ______________________
*/

/* ========================================================================= */

/*  ______________________

    Start Navigation Bar
    ______________________
*/
nav {
    padding: 10px 0px;
    display: none;
    position: relative;
}

nav .content_nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .content_nav ul li {
    margin: 5px 22px;
    position: relative;
    z-index: 928789;
}

nav .content_nav ul li a {
    color: var(--onyx);
    font-size: var(--fs-7);
    font-weight: var(--weight-600);
    width: 100%;
    height: 100%;
    position: relative;
    text-transform: uppercase;
    padding: 15px 0;
    border-bottom: 2px solid transparent;
    transition: .3s ease-in-out;
}

nav .content_nav ul li a::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--bittersweet);
    position: absolute;
    bottom: -2px;
    left: 0;
    transform: scale(0);
    transform-origin: left;
    transition: .3s ease-in-out;   
}

nav .content_nav ul li a:hover {color: var(--bittersweet);}

nav .content_nav ul li a:hover::after {transform: scale(1);}

nav .content_nav ul li.categories {position: static;}

nav .content_nav ul li.categories:hover .drop_menu_panel {
    transform: translateX(-50%) scale(1);
    visibility: visible;
    opacity: 1;
}

nav .content_nav ul li .drop_menu_panel {
    width: 85%;
    background-color: var(--white);
    border: 1px solid var(--cultured);
    border-radius: var(--border-radius-md);
    box-shadow: 0 3px 5px hsl(0deg 0% 0% / 10%);
    padding: 20px 25px;
    position: absolute;
    left: 50%;
    top: 100.9%;
    z-index: 4;
    transform: translateX(-50%) scale(0);
    visibility: hidden;
    opacity: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    transition: .3s ease-in;
    transform-origin: 15% top;
}

nav .content_nav ul li .drop_menu_panel .panel_list {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

nav .content_nav ul li .drop_menu_panel .panel_list .menu_title {
    color: var(--onyx);
    font-size: var(--fs-7);
    font-weight: var(--weight-600);
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid var(--cultured);
    text-transform: capitalize;
}

nav .content_nav ul li .drop_menu_panel .panel_list .menu_item a {
    color: var(--sonic-silver);
    font-size: var(--fs-7);
    font-weight: 400;
    text-transform: capitalize;
}

nav .content_nav ul li .drop_menu_panel .panel_list .menu_item img
{border-radius: var(--border-radius-md)}

nav .content_nav ul li:hover .drop_menu {
    transform: scale(1);
    visibility: visible;
}

nav .content_nav ul li .drop_menu {
    min-width: 200px;
    background-color: var(--white);
    padding: 10px 0px;
    border: 1px solid var(--cultured);  
    border-radius: var(--border-radius-md);
    box-shadow: 0 3px 5px hsl(0deg 0% 0% / 10%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    left: -2px;
    top: 160%;
    z-index: 123;
    transition: .3s ease-in;
    transform: scale(0);
    transform-origin: left top;
    visibility: hidden;
}

nav .content_nav ul li .drop_menu li a {
    color: var(--sonic-silver);
    font-size: var(--fs-7);
    font-weight: var(--weight-400);
    text-transform: capitalize !important;
}

nav .content_nav ul li .drop_menu_panel .panel_list .menu_title a:hover
{color: var(--onyx)}

nav .content_nav ul li .drop_menu li a::after,
nav .content_nav ul li .drop_menu_panel .panel_list a::after
{content: none;}

nav .content_nav ul li .drop_menu li a:hover,
nav .content_nav ul li .drop_menu_panel .panel_list .menu_item a:hover
{color: var(--salmon-pink);}


/* ------------------------ Start Navbar Bottom Mobile ----------------------------- */
#navbar_bottom_mobil {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 777;
    background-color: #fff;
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 0 10px hsl(0deg 0% 0% / 25%);
    border-radius: var(--border-radius-md);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 15px;
}

#navbar_bottom_mobil i {
    font-size: 25px;
    cursor: pointer;
    transition: var(--transition-timing);
    position: relative;
}

#navbar_bottom_mobil i span {
    position: absolute;
    top: -8px;
    color: var(--salmon-pink);
    font-size: 14px;
    font-weight: var(--weight-400);
}

#navbar_bottom_mobil i:hover {color: var(--salmon-pink);}

.align_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    padding-right: 3px;
}

#sidebar aside {
    max-width: 320px;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    box-shadow: 1px 0 5px #ddd, 0 -1px 5px #ddd;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    transform: translate(-103%);
    transition: .3s linear;
}

#sidebar .overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0, 0.5);
    position: fixed;
    left: 0;
    top: 0; 
    z-index: 77;
    transform: translate(103%);
    transition: .3s linear;

}

.show {transform: translate(0) !important;}

#sidebar aside h3 {
    color: var(--salmon-pink);
    font-size: var(--fs-4);
    font-weight: var(--weight-600);
    text-transform: capitalize;
    border-bottom: 2px solid var(--cultured);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#sidebar aside i.fa-xmark {position: static}

#sidebar aside i {
    color: var(--eerie-black);
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 16px;
}

/* #sidebar aside ul {margin-right: 10px;} */

#sidebar aside ul li {
    letter-spacing: .5px;
    padding: 12px 0;
    border-bottom: 1px solid var(--cultured);
    cursor: pointer;
    position: relative;
}

#sidebar aside ul li a:hover {
    color: var(--salmon-pink);
}

#sidebar aside ul li a {
    color: var(--onyx);
    font-size: var(--fs-6);
    font-weight: var(--weight-500);
    text-transform: capitalize;
    transition: var(--transition-timing);
    display: block;
}

/* #sidebar aside ul li .dropdown_menu {
    display: none;
}

.show_inside .dropdown_menu{
    display: block !important;
} */
#sidebar aside ul li .dropdown_menu {
    max-height: 0;
    overflow: hidden;
    transition: all .6s ease-in-out !important;
    border-top: 1px solid var(--cultured);
    visibility: hidden;
}

.show_inside .dropdown_menu{
    max-height: 122px !important;
    transition: all .6s ease-in-out !important;
    visibility: visible !important;
    margin-top: 10px;
}

/* for icon to hide plus and show minus and vice versa */
.first {display: block;}
.secand {display: none;}
.show_inside .first {display: none;}
.show_inside .secand {display: block;}

#sidebar aside ul li .dropdown_menu li {
    border-bottom: none;
    padding: 4px 0;
}

#sidebar aside ul li .dropdown_menu li a {
    color: var(--sonic-silver);
    font-weight: var(--weight-300);
    position: relative;
    display: block;
}

#sidebar aside ul li:hover .dropdown_menu li a{
    color: var(--onyx);
}

#sidebar aside ul li:hover .dropdown_menu li:hover a {
    color: var(--salmon-pink);
    padding-left: 5px;
}
/* ------------------------ End Navbar Bottom Mobile ----------------------------- */

/*  ______________________

End Navigation Bar
______________________
*/

/* ========================================================================= */

/*  ______________________

    Start Banner
    ______________________
*/

#banner {margin: 30px 0;}

#banner .content_banner {
    min-width: 100%;
    overflow: auto hidden;
    scroll-snap-type: inline mandatory;
    overscroll-behavior-inline: contain;
    display: flex;
    gap: 10px;
    padding-bottom: 8px;
}


#banner .content_banner .slide {
    min-width: 100%;
    max-height: 380px;
    position: relative;
    left: 0;
    top: 0;
    z-index: 0;
    aspect-ratio: 5 / 3;
    scroll-snap-align: start;
}

#banner .content_banner .slide img {
    height: 100%;
    border-radius: var(--border-radius-md);
    object-fit: cover;
    object-position: right;
}

#banner .content_banner .slide .content_text {
    background-color: hsla(0, 0%, 100%, 0.8);
    border-radius: var(--border-radius-md);
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    left: 25px;
    right: 25px;
    bottom: 0;
    margin: 7px;
}

#banner .content_banner .slide .content_text h3 {
    color: var(--salmon-pink);
    font-size: 14px;
    font-weight: var(--weight-500);
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

#banner .content_banner .slide .content_text h2 {
    color: var(--eerie-black);
    font-size: 25px;
    line-height: 1;
    margin: 5px 0;
}

#banner .content_banner .slide .content_text p {
    font-size: var(--fs-2);
    color: var(--sonic-silver);
    display: none;
}

#banner .content_banner .slide .content_text p b {font-size: 31px;}



/*  ______________________

    End Banner
    ______________________
*/



/* =============================================================================================== */
/*  ______________________

    Start Categories
    ______________________
*/

#categories {margin: auto;}

#categories .content_cate {
    scroll-snap-type: inline mandatory;
    overscroll-behavior-inline: contain;
    min-width: 100%;
    position: relative;
    overflow: auto hidden;
    display: grid;
    gap: 20px;
    padding-bottom: 10px;
}

#categories .content_cate .category {
    scroll-snap-align: start;
    width: 100%;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: var(--border-radius-md);
    display: flex;
    gap: 10px;
    padding: 10px;
    position: relative;
}

#categories .content_cate .category .img_cate {
    background-color: var(--cultured);
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: var(--border-radius-sm);
    padding: 10px;
}

#categories .content_cate .category .img_cate img {
    height: 30px;
    object-fit: cover;
}

#categories .content_cate .category .data_cate {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#categories .content_cate .category .data_cate h3{
    color: var(--eerie-black);
    font-size: var(--fs-9);
    font-weight: var(--weight-600);
    text-transform: uppercase;
    letter-spacing: .3px;
}

#categories .content_cate .category .data_cate a {
    color: var(--salmon-pink);
    font-size: var(--fs-9);
    font-weight: var(--weight-500);
    text-transform: capitalize;
}

#categories .content_cate .category .data_cate span{
    color: var(--sonic-silver);
    font-size: var(--fs-11);
    position: absolute;
    right: 10px;
    top: 16px;
}

/*  ______________________

    End Categories
    ______________________
*/

/* =============================================================================================== */

/*  ______________________

    Start Products
    ______________________
*/

#product {padding: 10px 0;}

#product .container {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    position: relative;

}
/* all elements contain class of stars inside product section */
#product .stars {
    padding: 3px 0;
    margin-left: 3px;
}

#product .stars i {
    color: var(--sandy-brown);
    font-size: 11px;
    margin: -2px;
} 

#product h2 {
    font-size: var(--fs-5);
    color: var(--onyx);
    font-weight: var(--weight-600);
    letter-spacing: .8px;
    text-transform: uppercase;
    margin-bottom: 12px;
}


/* -------------------- Start Sidebar Products ------------------------ */
#product #sidebar {
    width: calc(25% - 15px);
    display: none;
    position: sticky;
    top: 30px;
    left: 0;
}

#product #sidebar .sidebar_category {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: var(--border-radius-md);
}

#product #sidebar ul li {
    color: var(--sonic-silver);
    font-size: var(--fs-5);
    font-weight: var(--weight-500);
    text-transform: capitalize;
    width: 100%;
    padding: 7px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    cursor: pointer;
}

#product #sidebar ul li div {
    display: flex;
    gap: 15px;
    align-items: center;
}

#product .sidebar_category ul li img {
    height: 20px;
    width: 20px;
}

#product .sidebar_category ul li i {
    color: var(--eerie-black);
    font-size: 13px;
    position: absolute;
    right: 0px;
}

#product .sidebar_category ul li .dropdown_menu {
    max-height: 0;
    overflow: hidden;
    transition: all .7s ease-in-out;
    border-top: 1px solid var(--cultured);
    visibility: hidden;
    width: 100%;
    margin-top: 10px;
}

.show_inside .dropdown_menu{
    max-height: 122px !important;
    transition: all .6s ease-in-out !important;
    visibility: visible !important;
}

/* for icon to hide plus and show minus and vice versa */
.first {display: block;}
.secand {display: none;}
.show_inside .first {display: none;}
.show_inside .secand {display: block;}

#product .sidebar_category ul li .dropdown_menu li {
    border-bottom: none;
    padding: 4px 0;
}

#product .sidebar_category ul li .dropdown_menu li a {
    color: var(--sonic-silver);
    font-weight: var(--weight-300);
    position: relative;
    display: block;
    transition: var(--transition-timing);
}

#product .sidebar_category ul li:hover .dropdown_menu li a{
    color: var(--sonic-silver);
}

#product .sidebar_category ul li:hover .dropdown_menu li:hover a {
    color: var(--salmon-pink);
    padding-left: 5px;
}


/* Sidebar showcase */
#product #sidebar .sidebar_showcase {
    padding: 20px;
}

#product #sidebar .sidebar_showcase ul li .details,
#product #sidebar .sidebar_showcase ul li .details h5 {
    color: var(--onyx);
    font-size: var(--fs-7);
    font-weight: var(--weight-400);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#product #sidebar .sidebar_showcase ul li .details h5,
#product #sidebar .sidebar_showcase ul li .details p{
    display: block;
}


#product #sidebar .sidebar_showcase ul li img{
    height: 75px;
    width: 75px;
    border-radius: var(--border-radius-sm);
}

/* -------------------- End Sidebar Products ------------------------ */


/* ----------------- Start Product Box ----------------- */

#product .product_box {width: 100%;}

/* ----------------- Start Product Minimal ----------------- */
#product .product_box .product_minimal .content_minimal {
    display: grid;
    grid-template-columns: 75%;
    justify-content: space-around;
    gap: 20px;
    padding: 0 1px;
    margin-bottom: 30px;
}

/*all element h2 inside product section*/
#product .product_box h2 {
    color: var(--eerie-black);
    letter-spacing: .4px;
    text-transform: capitalize;
    border-bottom: 1px solid var(--cultured);
    padding-bottom: 15px;
}

#product .product_box .product_minimal .content_minimal .product_showcase .content_product_showcase {
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-snap-type: inline mandatory;
    overscroll-behavior-inline: contain;
}

#product .product_box .product_minimal .content_minimal .product_showcase .content_product_showcase ul {
    scroll-snap-align: start;
    min-width: 100%;
}

#product .product_box .product_minimal .content_minimal .product_showcase ul li {
    width: 99%;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: var(--border-radius-md);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 10px 15px 5px;
    margin-top: 20px;
    position: relative;
}

#product .product_box .product_minimal .content_minimal .product_showcase ul li .details {
    overflow: hidden;
}

#product .product_box .product_minimal .content_minimal .product_showcase ul li h3 {
    color: var(--eerie-black);
    font-size: var(--fs-7);
    font-weight: var(--weight-600);
    text-transform: capitalize;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#product .product_box .product_minimal .content_minimal .product_showcase ul li p {
    color: var(--davys-gray);
    font-size: var(--fs-8);
    text-transform: capitalize;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 2px 0;
}

#product .product_box .product_minimal .content_minimal .product_showcase ul li p b {
    color: var(--salmon-pink);
    font-size: var(--fs-7);
    font-weight: var(--weight-700);
}

#product .product_box .product_minimal .content_minimal .product_showcase ul li p del {
    color: var(--sonic-silver);
    font-size: var(--fs-9);
    padding: 0 8px;
}

#product .product_box .product_minimal .content_minimal .product_showcase ul li img{
    width: 70px;
    height: 61px;
}

/* ----------------- End Product Minimal ----------------- */


/* ----------------- Start Product Feature ----------------- */

#product .product_feature .contain_products{
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-snap-type: inline mandatory;
    overscroll-behavior-inline: contain;
    margin: 30px 0;
}

#product .product_feature .content_product_feature {
    scroll-snap-align: start;
    min-width: 100%;
    border: 1px solid var(--cultured);
    border-radius: var(--border-radius-md);
    display: grid;
    grid-template-columns: repeat(2, minmax(calc(50% - 8px), 1fr));
    gap: 8px;
    padding: 25px;
    margin-bottom: 8px;
}

#product .product_feature .content_product_feature .img_product {
    display: flex;
    justify-content: center;
    align-items: center;
}

#product .product_feature .content_product_feature img {
    width: 92%;
    height: 86%;
}

#product .product_feature .content_product_feature .details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-overflow: ellipsis;
    overflow: hidden;
}

#product .product_feature .content_product_feature .details .stars i {
    font-size: 16px;
}

#product .product_feature .content_product_feature .details h3 {
    color: var(--eerie-black);
    font-size: var(--fs-7);
    text-transform: uppercase;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    margin: 10px 0 5px;
}

#product .product_feature .content_product_feature .details p {
    font-size: var(--fs-7);
    color: var(--sonic-silver);
    font-weight: var(--weight-300);
}

#product .product_feature .content_product_feature .details .price_product {
    color: var(--salmon-pink);
    font-size: var(--fs-3);
    font-weight: var(--weight-700);
    margin-top: 7px;
}

#product .product_feature .content_product_feature .details .price_product del {
    color: var(--sonic-silver);
    font-weight: var(--weight-300);
    padding-left: 10px;
}

#product .product_feature .content_product_feature .details button {
    font-size: var(--fs-5);
    font-weight: var(--weight-700);
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 10px;
}

#product .product_feature .content_product_feature .details .status_product {
    width: 100%;
}

#product .product_feature .content_product_feature .details .status_product .title_status {
    color: var(--eerie-black);
    font-size: var(--fs-9);
    font-weight: var(--weight-400);
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    margin: 7px 0;
}

#product .product_feature .content_product_feature .details .status_product .bar_status {
    background-color: var(--cultured);
    width: 100%;
    height: 10px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius-md);
    padding: 2px;
}


#product .product_feature .content_product_feature .details .status_product .bar_status span {
    display: inline-block;
    width: 50%;
    height: 4px;
    background-color: var(--salmon-pink);
    border-radius: var(--border-radius-md);
}

#product .product_feature .content_product_feature .details .countdown_box {
    margin: 13px 0;
}

#product .product_feature .content_product_feature .details .countdown_box p {
    font-size: var(--fs-8);
    color:var(--eerie-black);
    font-weight: var(--weight-600);
    text-transform: uppercase;
    margin-bottom: 7px;
}

#product .product_feature .content_product_feature .details .countdown_box .countdown_desc {
    width: 100%;
    text-align: center;
    display: flex;;
    align-items: center;
    gap: 20px;
}

#product .product_feature .content_product_feature .details .countdown_box .countdown_desc div {
    color: var(--eerie-black);
    font-weight: var(--weight-500);
    min-width: 40px;
    padding: 5px 10px;
    border-radius: var(--border-radius-sm);
    background-color: var(--cultured);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#product .product_feature .content_product_feature .details .countdown_box .countdown_desc div span {
    display: inline-block;
    min-width: 40px;
}

#product .product_feature .content_product_feature .details .countdown_box .countdown_desc div p {
    color: var(--davys-gray);
    font-size: var(--fs-11);
    font-weight: var(--weight-400);
    text-transform: uppercase;
    margin: 0;
}

/* ----------------- End Product Feature ----------------- */

/* ----------------- Start Product Main ----------------- */

#product .product_main .content_produc_main .contain_product {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
}

#product .product_main .content_produc_main .contain_product .item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid var(--cultured);
    border-radius: var(--border-radius-md);
    padding: 2px;
    position: relative;
    overflow: hidden;
    transition: var(--transition-timing);
    cursor: pointer;
}

#product .product_main .content_produc_main .contain_product .item:first-child::after {
    content: '15%';
    width: 40px;
    height: 21px;
    background-color: var(--ocean-green);
    font-size: var(--fs-8);
    font-weight: var(--weight-500);
    color: #fff;
    position: absolute;
    left: 15px;
    top: 15px;
    text-align: center;
    line-height: 21px;
    border-radius: var(--border-radius-sm);
}

#product .product_main .content_produc_main .contain_product .item:nth-child(2)::after,
#product .product_main .content_produc_main .contain_product .item:nth-child(4)::after,
#product .product_main .content_produc_main .contain_product .item:nth-child(6)::after,
#product .product_main .content_produc_main .contain_product .item:nth-child(8)::after,
#product .product_main .content_produc_main .contain_product .item:nth-child(10)::after,
#product .product_main .content_produc_main .contain_product .item:nth-child(12)::after
{
    content: 'sale';
    color: #fff;
    background-color: var(--eerie-black);
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: .4px;
    padding: 5px 40px;
    position: absolute;
    left: -29px;
    top: 5px;
    transform: rotate(-45deg);
}

#product .product_main .content_produc_main .contain_product .item:nth-child(4)::after {
    content: "new";
    background-color: var(--salmon-pink);
}

#product .product_main .content_produc_main .contain_product .item img:nth-child(2) {
    position: absolute;
    opacity: 0;
    transition: var(--transition-timing);
}

#product .product_main .content_produc_main .contain_product .item:hover {
    box-shadow: 0 0 10px hsl(0deg 0% 0% / 10%);
}

#product .product_main .content_produc_main .contain_product .item:hover img:nth-child(2) {
    opacity: 1;
}

#product .product_main .content_produc_main .contain_product .item:hover .product_action {
    right: 10px;
}

#product .product_main .content_produc_main .contain_product .item .product_action {
    position: absolute;
    right: -34px;
    top: 10px;
    transition: var(--transition-timing);
}

#product .product_main .content_produc_main .contain_product .item .product_action ul li {
    background-color: #fff;
    border: 1px solid var(--cultured);
    border-radius: var(--border-radius-sm);
    padding: 6.5px 5.5px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition-timing);
    cursor: pointer;
}

#product .product_main .content_produc_main .contain_product .item .product_action ul li:hover,
.checkItem {
    color: #fff !important;
    background-color: var(--eerie-black) !important;
    border-color: var(--eerie-black) !important;
}

#product .product_main .content_produc_main .contain_product .item .details {
    padding: 0 6px 15px 20px;
    cursor: auto;
}

#product .product_main .content_produc_main .contain_product .item h3 {
    color: var(--salmon-pink);
    font-size: var(--fs-8);
    font-weight: var(--weight-500);
    text-transform: uppercase;
}

#product .product_main .content_produc_main .contain_product .item .desc {
    color: var(--sonic-silver);
    font-size: var(--fs-7);
    font-weight: var(--weight-300);
    text-transform: capitalize;
    letter-spacing: .5px;
    padding: 10px 0 3px;
}

#product .product_main .content_produc_main .contain_product .item .stars i {
    font-size: 14px;
}

#product .product_main .content_produc_main .contain_product .item .price_product {
    color: var(--eerie-black);
    font-size: var(--fs-7);
    margin-top: 5px;
}

#product .product_main .content_produc_main .contain_product .item .price_product del {
    color: var(--sonic-silver);
}
/* ----------------- End Product Main ----------------- */

/* ----------------- End Product Box ----------------- */

/*  ______________________

    End Products
    ______________________
*/

/* =============================================================================================== */

/*  ______________________

    Start Testimonial & Services
    ______________________
*/

#service_testimonial {
    padding: 50px 20px 30px;
}

#service_testimonial .content_service_testimonial {
    display: grid;
    grid-template-columns: 1fr;
}

#service_testimonial .content_service_testimonial h2 {
    color: var(--eerie-black);
    font-size: var(--fs-5);
    font-weight: var(--weight-600);
    letter-spacing: .4px;
    text-transform: capitalize;
    border-bottom: 1px solid var(--cultured);
    padding-bottom: 10px;
    margin-bottom: 30px;
}

#service_testimonial .content_service_testimonial .card {
    text-align: center;
    padding: 30px 20px;
    border: 1px solid var(--cultured);
    border-radius: var(--border-radius-md);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: var(--transition-timing);
}

#service_testimonial .content_service_testimonial .card:hover {
    --color: #eee;
    box-shadow: 1px  0px 3px 0px var(--color),
                0px -1px 3px 0px var(--color),
                -1px 0px 3px 0px var(--color),
                0px  1px 3px 0px var(--color);
}

/* Start Testimonials */
#service_testimonial .testimonial .testimonial_card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 15px;
}

#service_testimonial .testimonial .testimonial_card h3 {
    color: var(--sonic-silver);
    font-size: var(--fs-5);
    font-weight: var(--weight-700);
    text-transform: uppercase;
    margin-bottom: 5px;
}

#service_testimonial .testimonial .testimonial_card h5 {
    color: var(--onyx);
    font-size: var(--fs-7);
    font-weight: var(--weight-400);
    text-transform: capitalize;
    margin-bottom: 15px;
}

#service_testimonial .testimonial .testimonial_card i {
    color: var(--salmon-pink);
    font-size: 30px;

}

#service_testimonial .testimonial .testimonial_card p {
    font-size: var(--fs-7);
    color: var(--sonic-silver);
    max-width: 70%;
}

/* End Testimonials */

/* Start Cta_Banner */
#service_testimonial .cta_banner {
    margin: 25px 0;
    position: relative;
    aspect-ratio: 5.5/6;
}

#service_testimonial .cta_banner img {
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-md);
}

#service_testimonial .cta_banner .details_cta_banner {
    background-color: hsla(0, 0%, 100%, 0.7);
    border-radius: var(--border-radius-md);
    width: fit-content;
    padding: 15px 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#service_testimonial .cta_banner .details_cta_banner .offer_disc {
    color: var(--white);
    font-size: var(--fs-11);
    font-weight: var(--weight-600);
    text-transform: uppercase;
    background-color: var(--eerie-black);
    padding: 4px 8px;
    width: max-content;
    border-radius: var(--border-radius-sm);
    margin-bottom: 5px;
}

#service_testimonial .cta_banner .details_cta_banner h3 {
    color: var(--onyx);
    font-size: var(--fs-5);
    text-transform: capitalize;
    margin-bottom: 5px;
}

#service_testimonial .cta_banner .details_cta_banner p {
    color: var(--sonic-silver);
    font-size: var(--fs-7);
    margin-bottom: 5px;
}

#service_testimonial .cta_banner .details_cta_banner h5 {
    color: var(--sonic-silver);
    font-size: var(--fs-9);
    font-weight: var(--weight-700);
    text-transform: uppercase;
}
/* End Cta_Banner */

/* Start Our Services */

#service_testimonial .service .service_card {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 30px 15px;
}

#service_testimonial .service .service_card .service_item {
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: left;
    cursor: pointer;
    transition: var(--transition-timing);
}

#service_testimonial .service .service_card .service_item:hover i {
    color: var(--eerie-black);
}
#service_testimonial .service .service_card .service_item:hover .service_details h5 {
    color: var(--salmon-pink);
}
#service_testimonial .service .service_card .service_item:hover .service_details p {
    color: var(--spanish-gray)
}

#service_testimonial .service .service_card .service_item i {
    font-size: 28.2px;
    color: var(--salmon-pink);
    transition: var(--transition-timing);
}

#service_testimonial .service .service_card .service_item .service_details h5 {
    color: var(--sonic-silver);
    font-size: var(--fs-7);
    font-weight: var(--weight-600);
    text-transform: capitalize;
    margin-bottom: 5px;
    transition: var(--transition-timing);
}

#service_testimonial .service .service_card .service_item .service_details p {
    color: var(--sonic-silver);
    font-size: var(--fs-9);
    transition: var(--transition-timing);
}

/* End Our Services */

/*  ______________________

    End Testimonial & Services
    ______________________
*/

/* =============================================================================================== */
/*  ______________________

    Start Blog
    ______________________
*/

#blog {
    padding-bottom: 20px;
}

#blog .content_blog {
    min-width: 100%;
    overflow: auto hidden;
    scroll-snap-type: inline mandatory;
    overscroll-behavior-inline: contain;
    display: flex;
    gap: 20px;
    padding-bottom: 15px;
}

#blog .content_blog .blog_card {
    min-width: 100%;
    scroll-snap-align: start;
    border-radius: var(--border-radius-md);
    transition: var(--transition-timing);
    overflow:hidden;
    border-radius: var(--border-radius-md);
}

#blog .content_blog .blog_card img {
    margin-bottom: 20px;
    border-radius: var(--border-radius-md);
    transition: var(--transition-timing);
}

#blog .content_blog .blog_card .content_card a {
    color: var(--salmon-pink);
    font-size: var(--fs-8);
    text-transform: capitalize;
}

#blog .content_blog .blog_card .content_card h3 {
    color: var(--eerie-black);
    font-size: var(--fs-5);
    font-weight: var(--weight-600);
    line-height: 1.5;
    margin-bottom: 5px;
    transition: var(--transition-timing);
}

#blog .content_blog .blog_card .content_card h3:hover {
    color: var(--salmon-pink);
}

#blog .content_blog .blog_card .content_card p {
    color: var(--sonic-silver);
    font-size: var(--fs-7);
    text-transform: capitalize;
}

#blog .content_blog .blog_card .content_card p cite {
    color: var(--davys-gray);
    font-family: normal;
}

/*  ______________________

    End Blog
    ______________________
*/

/* =============================================================================================== */

/*  ______________________

    Start Footer
    ______________________
*/
footer {
    background-color: var(--eerie-black);
    padding: 50px 20px;
    overflow: hidden;
}

footer .footer_category {
    padding: 30px 0;
    border-bottom: 1px solid var(--onyx);
}

footer .footer_category h3 {
    color: var(--salmon-pink);
    font-size: var(--fs-4);
    font-weight: var(--weight-600);
    text-transform: uppercase;
    margin-bottom: 20px;
}

footer .footer_category .content_links {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
}

footer .footer_category ul {
    display: flex;
    flex-wrap: wrap;
    gap: 3px 20px;
}

footer .footer_category ul li.head_line a {
    color: var(--spanish-gray);
    font-size: var(--fs-8);
    font-weight: var(--weight-600);
    text-transform: uppercase;
}

footer .footer_category ul li a {
    color: var(--sonic-silver);
    font-size: var(--fs-7);
    text-transform: capitalize;
    letter-spacing: .5px;
    position: relative;
    transition: var(--transition-timing);
}

footer .footer_category ul li a:hover {color: var(--spanish-gray);}

footer .footer_category ul li a::after {
    content: '';
    width: 2px;
    height: 100%;
    background-color: var(--sonic-silver);
    position: absolute;
    right: -10px;
    top: 0;
    cursor: auto
}

footer .footer_category ul li:first-child a:after,
footer .footer_category ul li:last-child a:after {background-color: transparent;}

footer .footer_nav {
    border-bottom: 1px solid var(--onyx);
    padding: 30px 0;
}

footer .footer_nav .content_footer_nav {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

footer .footer_nav ul li {padding: 3px 0;}

footer .footer_nav ul li h3 {
    color: #fff;
    font-size: var(--fs-7);
    text-transform: uppercase;
    margin-bottom: 15px;
    padding-bottom: 5px;
    letter-spacing: .4px;
    position: relative;
}

footer .footer_nav ul li h3::after {
    content: '';
    width: 60px;
    height: 1px;
    background-color: var(--salmon-pink);
    position: absolute;
    left: 0;
    bottom: 0;
}

footer .footer_nav ul li a {
    color: var(--sonic-silver);
    font-size: var(--fs-7);
    text-transform: capitalize;
    transition: var(--transition-timing);
}

footer .footer_nav ul li a:hover,
footer .footer_nav .contact li:hover i,
footer .social_media li i:hover,
footer .footer_bottom a {color: var(--salmon-pink);}

footer .footer_nav ul.contact li,
footer .social_media .icon_social {
    display: flex;
    gap: 10px;
}

footer .footer_nav li i {
    font-size: 18px;
    color: var(--sonic-silver);
    padding-top: 1px;
    transition: var(--transition-timing);
}

footer .social_media li i {
    font-size: 21px;
    cursor: pointer;
}

/* Start footer bottom */
footer .footer_bottom {
    text-align: center;
    padding: 30px 0 50px;
    color: var(--sonic-silver);
}

footer .footer_bottom img {
    max-width: 335px;
    margin: 0px auto;
    margin-bottom: 15px;
}


/*  ______________________

    End Footer
    ______________________
*/

.news_letter{display: none;}

/* =============================================================================================== */

